.me {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('http://www.gravatar.com/avatar/c169c3f064eb1b982d420e239b267945.png?s=100');
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: 100px;
}
.masthead-inner h1 {
	padding-top: 1em;
	font-size: 1.5em;
}

.lead {
	font-size: .7em;
}

.copy{
	font-size: .5em;
}

.colophon-links {
	font-size: .8em;
}