.me {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('https://en.gravatar.com/userimage/21135527/16721dbc44f94390cd1ceec1f2058826.png?s=100');
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: 100px;
}
.masthead-inner h1 {
	padding-top: 1em;
	font-size: 1.5em;
}

.lead {
	font-size: .7em;
}

.copy{
	font-size: .5em;
}

.colophon-links {
	font-size: .8em;
}
