body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  width: 100%;
  background: #EEE;
  text-align: center;
  padding: 5px 0 5px 0;
  cursor: hand;
  cursor: pointer;
}

#map { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
}
 
#wrapper { 
  position: relative; 
  z-index: 1;
  float: right;
  width: 600px;
  margin: 20px 20px 0;
  padding: 10px;
  background: #FFF;
  height: auto;
  opacity: .8;
  color: #333;
}


#image {
  background: url('/images/karina_henrik.jpg');
  width: 600px;
  height: 190px;
  background-size: 100% auto;
}